<div class="proj-container">
  <p>A series of reference application demo videos created to showcase the potential of the kiteworks secure content platform with working sample code.</p>
  <h3>ER App for Google Glass</h3>
  <p>Built using the secure kiteworks mobile SDK, the ER App for Google Glass helps the ER physician quickly retrieve patient data and consult with specialists while constantly keeping her focus on the patient.</p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/lxonbtLz-YA?rel=0" frameborder="0" allowfullscreen></iframe>
  <h3>Oops! Insurance App for iOS</h3>
  <p>Built using the secure kiteworks mobile SDK, the Oops! Insurance app for iOS automates the many interactions and processes that occur between an insurance agent and a policyholder after a car accident.</p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/gO4r9CoioF8?rel=0" frameborder="0" allowfullscreen></iframe>
</div>
