<section>
	<h3>About Myself</h3>
	
	<div class="face-lockup">
		<div class="face-img"></div>
		
		<div class="icon-pencil">{% include icons/icon-pencil.html %}</div>
		<div class="icon-mouse">{% include icons/icon-mouse.html %}</div>
		<div class="icon-browser">{% include icons/icon-browser.html %}</div>
		<div class="icon-camera">{% include icons/icon-camera.html %}</div>
	
	</div>

	<div class="blurb">
		<p>jsljflsfjlsjflsjflsjflsjflsjflsjfljslfjslfjsljflsjflsjflsjflsjfljslfjslfjlsjflsjflsjflsjflsjflsjfljslfjslfjsljflsjflsjflsjlfjslfjlsjflsjfl.</p>
	</div>




	<div class="skill-lockup"></div>
	
	</div>
	
	
</section>