header
  background: url(../img/#{$hero-path}) no-repeat center center
    size: cover
    overflow: hidden
  height: 100vh

  .logo-img
    background:
      image: url(../img/#{$logo-path})
    +size(50px)
    float: left
    margin: 20px 0 0 30px
    opacity: 0.7

  nav
    float: right
    padding: 30px 30px 0 0

    a
      display: inline-block
      margin-left: 20px

      color: rgba(255,255,255,0.7)
      @extend %small-bold

      &:hover
        color: rgba(255,255,255,1)

  .title-description
    position: relative
    top: 28%
    text-align: center

    h1
      font:
        size: 72px
        weight: 700
      color: white
      text-transform: uppercase
      letter-spacing: 0.05em
      margin-bottom: 20px
      clear: both

      span
        display: inline-block
        padding: 0.2em 0.5em
        border: white solid 10px

    .kicker
      @extend %small-bold
      letter-spacing: 0.05em
      color: white
      line-height: 1

  .down
    display: block
    position: absolute
    bottom: 0px
    right: 50%
    a
      color: pink
      img
        +size(50px)

@media (max-width: 640px)
  header
    height: 60vh

    .logo-img
      margin: 20px 44%

    .title-description
      top: 3%

    .down
      right: 45%
      bottom: 40%

    nav
      float: none
      text-align: center
      padding-top: 90px

    h1
      padding-top: 0px
